#top-navbar{
  background-color:#cde4f0;
  color:white;
}
.nav-link{
font-size:18px;
font-weight:600;
color:white !important;
position:relative;
}
.nav-link.active,.nav-link.current{
  color:#24116a !important;
}
.nav-link:hover{
  color: #24116a !important;
}
.nav-link.active::before{
  content: '';
  position: absolute;
  top: 62px;
  width: 95%;
  height: 3px;
  background-color: #24116a;
}
#main-footer{
  background:linear-gradient(#084482, #5a95b4, #084482) ;
  font-size:20px;
}

@media(max-width:991px) {
  .nav-link.active::before{
    top: 40px;
    width: 20%;
  }
}





@media(max-width:760px){
  .nav-link.active::before{
    top: 40px;
    width: 29%;
  }
}
@media(max-width:500px){
  .nav-link.active::before{
    top: 40px;
    width: 42%;
  }
}
