.header-top-text {
  color: #084482;
  font-size: 36px;
  font-weight: 400;
}

.header-below-text {
  color: #084482;
  font-size: 20px;
}

.company-profile img {
  /* width:300px; */
  max-width: 300px;
}

.intern-picture {
  max-width: 250px;
}

.company-profile .big-image img {
  width: 200px !important;
}

.d-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 2em;
}

.company-text {
  font-size: 20px;
}

.company-logo:before, .company-logo:after {
  background-color: #084482;
  content: '';
  display: inline-block;
  height: 3px;
  position: relative;
  vertical-align: middle;
  margin: auto;
  width: 22%;
}

.company-logo:before {
  margin-right: 0.5em;
}

.company-logo:after {
  margin-left: 0.5em;
}

.card-img-top img {
  width: 49vh;
  height: 180px
}

.skills ul {
  list-style-type: none;
  background-color: #084482;
  color: white;
}

.skills ul {
  font-weight: bold;
  font-size: 18px;
}

.skills li:not(:last-child) {
  padding-left: 3px;
}

.skills ul li:not(:last-child)::after {
  height: 18px;
  content: " ";
  /* display: inline-block; */
  position: absolute;
  width: 1px;
  background-color: #e7eaec;
  /* right: 0; */
  margin-top: 3px;
  margin-left: 10px;
}

@media(max-width:900px) {
  .d-grid {
    grid-template-columns: auto auto;
  }
}

@media(max-width:600px) {
  nav img {
    width: 180px;
  }
  .company-profile img {
    /* width:300px; */
    max-width: 100px;
  }
}

@media(max-width:1000px) {
  .d-grid {
    grid-template-columns: auto auto auto;
  }
  .card-img-top img {
    width: 55vh;
    height: 170px;
  }
}

@media(max-width:800px) {
  .d-grid {
    grid-template-columns: auto auto;
  }
  .card-img-top img {
    width: 55vh;
    height: 170px;
  }
  .company-profile img{
    /* width:300px; */
    max-width:130px;
  }
}
@media(max-width:700px){
  .d-grid{
    grid-template-columns: auto;
  }
  .row{
    display:unset !important
  }
  .card-img-top img{
    width: 60vh;
    height: 170px;
  }
  .companies{
    margin:auto !important;
    width:85%!important;
  }
  .company-text.p-4{
    padding:0 !important;
  }
  .company-profile .big-image img{
    width:270px !important;
  }
  .company-profile img{
    /* width:300px; */
    max-width:130px;
  }
}